* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: cyan;
}

h1 {
	background-color: blue;
	color: white;
	font-size: 32px;
	padding: 16px 32px;
	text-align: center;
	margin-bottom: 16px;
}

ul {
	text-align: center;
	padding: 0px 32px;
}

li {
	margin-bottom: 16px;
	list-style: none;
}

a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: blue;
	font-weight: bold;
	transition: color 0.2s ease;
}

a:hover {
	color: white;
	text-decoration: underline;
}

img {
	display: block;
	margin: 32px auto;
	border-radius: 8px;
}

h2,
p,
ol {
	text-align: center;
	margin-bottom: 16px;
	max-width: 600px;
	margin: 0 auto 32px auto;
}
